<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snipper</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01c2b3c937.js" crossorigin="anonymous"></script>
</head>
<body style='font-family: "Ubuntu";'>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Snipper</h1>
            <h5>The Place For Sharing Code</h5>
            <h6 class="mt-4">Login/Signup With:</h6>
            <a href="/login/github"><button class="btn btn-success"><img src="https://img.icons8.com/material-outlined/32/000000/github.png"/> GitHub</button></a>
            <a href="/login/gitlab"><button class="btn btn-success"><img src="https://img.icons8.com/color/32/000000/gitlab.png"/> GitLab</button></a>
            <a href="/login/google"><button class="btn btn-success"><img src="https://img.icons8.com/fluency/32/000000/google-logo.png"/> Google</button></a>
            <a href="/login/discord"><button class="btn btn-success"><img src="https://img.icons8.com/color/32/000000/discord-logo.png"/> Discord</button></a>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>
