<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{snip['name']}} by {{snip['by']['username']}} | Snipper</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/codemirror.css">
    <script src="/static/lib/codemirror.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <style>
        textarea{
                border:1px solid #000000;
                width:100%;
                margin:5px 0;
                padding:3px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
    </style>
    <script src="/static/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/static/lib/codemirror.css">
    {% for theme in themes %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/{{theme}}.min.css">   
    {% endfor %}
    {% for lang in langs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/{{lang}}/{{lang}}.min.js"></script>
    {% endfor %}
</head>
<body style='font-family: "Ubuntu";'>
    <div class="container mb-5 mt-5">
        <div class="text-center">
            <h1>{{snip['name']}}</h1>
            <h4>{{snip['description']}}</h4>
            <a href="/user/{{snip['by']['_id']}}"><h6>By: {{snip['by']['username']}}</h6></a>            
        </div>
        <pre>
            <code id="editor">

            </code>
        </pre>
        <div style="display: flex;">
            {% if user is not none %}
                {% if snip['_id'] not in user['saves'] %}
                    <button class="btn btn-info" onclick="saveSnip()">Save Snip</button>
                {% else %}
                    <button class="btn btn-info disabled"><i>Saved</i></button>
                {% endif %}
            {% endif %}
            {% if user['_id'] == snip['by']['_id'] %}
            <form action="/delete?snip={{snip['_id']}}" method="post" class="ms-3">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            {% endif %}
        </div>
    </div>
    <script>
        var snip = `{{snip['snip']}}`;
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
        snip = decodeHtml(snip);
        let myTextarea = document.getElementById("editor");
        var editor = CodeMirror(myTextarea, {
            lineNumbers: true,
            mode: "{{snip['language']}}",
            theme: "{{snip['theme']}}",
            value: snip,
            readOnly: true,
            lineWrapping: false
        });
        function saveSnip(){
            snipId = "{{snip['_id']}}";
            fetch('/save?snip='+snipId, {
                method: 'POST'
            }).then(function(response) {
                window.location.reload();
            });
        }
    </script>
</body>
</html>
